!!!

%html
  %head
    - title = "Trapper"
    - title = "#{@page_title} > Trapper" unless @page_title.nil?
    %title= title
    %link{:href => "/css/reset.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #body_wrapper
      #header_wrapper
        #header
          %h1<
          %a{:href => "/"} Trapper
        #nav
          %ul
            %li
              %a{:href => url("/")} Home
            %li
              %a{:href => url("/new")} New
            %li
              %a{:href => "javascript:(function(){f='http://#{request.env['HTTP_HOST']}/save?url='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title)+'&notes='+encodeURIComponent(''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text))+'&v=6&';a=function(){if(!window.open(f+'noui=1&jump=doclose','trapper','location=yes,links=no,scrollbars=no,toolbar=no,width=550,height=550'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()"} Bookmarklet
      #content_wrapper
        #content
          = yield
    #footer_wrapper
      #footer
        %p.right copyright 2011 geoffrey lessel
