%h2 Trap a new site
%form{:action => '/new', :method => 'post'}
  %label{:for => 'trap[url]'} URL
  %input{:type => 'textfield', :name => 'trap[url]', :id => 'trap[url]'}/
  %br

  %label{:for => 'trap[name]'} Name
  %input{:type => 'textfield', :name => 'trap[name]', :id => 'trap[name]'}/
  %br

  %label{:for => 'trap[description]'} Description
  %input{:type => 'textfield', :name => 'trap[description]', :id => 'trap[description]'}/
  %br

  %input{:type => 'submit', :name => 'submit'}/
