%h2 Search results
- @found.each do |type, results|
  - next if results.size < 1
  %h3= "Found on #{type}"
  - results.each do |site|
    = haml :site_listing, :layout => false, :locals => {:site => site}
